<%= render :partial => 'spree/admin/shared/seller_sub_menu', :locals => { :seller => @seller, :title => "Store Addresses" } %>

<div class="header">
  <div class="upload-file" style ="clear: right; width: 100%;">
    <%= form_tag admin_stock_locations_path(:return => admin_seller_store_addresses_path(@seller)), :multipart => true, :method => :post do %>
      <%= file_field_tag :sample_file, :accept => 'application/vnd.ms-excel' %>
      <%if spree_current_user.has_spree_role?("admin")%>
        <%= select_tag :seller_id, options_from_collection_for_select(Spree::Seller.where(:seller_id =>@seller.id), "id", "name"), class: 'select2' %>
      <%end%>
      <input type="hidden" value="file_upload" name="file" />
      <%= submit_tag "Upload Store"%>
    <%end%>
  </div>
  <div style="float: right; clear: both; margin-top: -33px;">
    <%= link_to 'Download Sample', download_sample_admin_seller_store_addresses_path(@seller, :format => :xls), :icon => "icon-plus", :class => "button"%>
  </div>
</div>

<% if @store_addresses.present? %>
  <div style="padding-top: 50px;">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Operating Hours</th>
          <th>Pickup</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @store_addresses.each_with_index do |store, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to store.name, edit_admin_stock_location_path(@seller, store) %></td>
            <td><%= raw store.address %></td>
            <td><%= mail_to store.email%></td>
            <td><%= store.phone%></td>
            <td><%= store.operating_hours%></td>
            <td><%= check(store.pickup_at, "Pickup Point") %></td>
            <td class="actions">
              <%= link_to '', edit_admin_stock_location_path(store, :return => admin_seller_store_addresses_path(@seller)), :no_text => true, :class => 'edit icon_link with-tip icon-edit no-text'%>
              &nbsp;
              <%= link_to '', admin_stock_location_path(store), :no_text => true, :method => :delete, :class => 'delete-resource icon_link with-tip icon-trash no-text', :confirm => 'Are you sure, you want to delete this Store?'%>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
<%else%>
  <div class="error-message" style="text-align: center;">
    <h2>No Categories are added, You can add new category</h2>
  </div>
<%end%>

<%= button_link_to "Add New Store", new_admin_stock_location_path(:return => admin_seller_store_addresses_path(@seller))%>
