<%= render :partial => "spree/admin/reports/sub_menu_report"%>

<% content_for :page_actions do %>
  <li>
  	<%= button_link_to Spree.t(:back_to_logs_list), admin_error_logs_path, :icon => 'icon-arrow-left' %>
  </li>  
  <%= button_link_to 'Edit', edit_admin_error_log_path(@spree_error_log), :icon => 'icon-plus' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>  
  <h3><%= raw @spree_error_log.title %></h3><br/>
  <label>Status</label>
  <h4><%= raw @spree_error_log.status %></h4><br/>
  <label>Git Reference</label>
  <h5><%= raw @spree_error_log.git_reference %></h5><br/>
  <label>Log</label><br/>
  <%= raw @spree_error_log.log.gsub('/n','<br/><br/>') %><br/>
</p>