<% content_for :page_title do %>
  <% if users.present? %>
      <%= Spree.t(:revoke_delete_user) %>
  <% end %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_user), new_object_url, :icon => 'icon-plus', :id => 'admin_new_user_link' %>
  </li>  
<% end %>

<% if users.present? %>
  <table class="index" id="listing_users" data-hook>
    <colgroup>
      <col style="width: 85%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <% if users.present? %>
        <tr data-hook="admin_users_index_headers">
          <th><%= sort_link @search,:email, Spree.t(:user), {}, {:title => 'users_email_title'} %></th>
          <th data-hook="admin_users_index_header_actions" >Edit</th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% users.each do |user|%>
        <tr id="<%= spree_dom_id user %>" data-hook="admin_users_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class='user_email'><%=link_to user.email, object_url(user) %></td>
          <td data-hook="admin_users_index_row_actions" class="actions">
            <%= link_to Spree.t(:revoke), "/admin/users/revoke/#{user.id}" %>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="error-message field" style="text-align: center;">
    <h2>No User Deleted Yet</h2>
  </div>
<% end %>  