<html>
    <head>
        <title>Picked-Up Order Email</title>        
    </head>
    <body>
        <div style="color: #808080; margin: 0 auto; text-align: center; width: 590px; ">    
            <div style="font-size: 18px; margin-top: 40px;">
                We've got an order for you!<br/>
                It will be <span style="text-decoration:underline">pick-up</span> anytime in next 7 days from <%= "#{@order.completed_at.strftime('%d').to_i.ordinalize} #{@order.completed_at.strftime('%b')} to #{(@order.completed_at + 6.days).strftime('%d').to_i.ordinalize} #{(@order.completed_at + 6.days).strftime('%b')}"%>
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <img src="/assets/store/logo_blue.png"/>                     
            </div>
            <div style="background: none repeat scroll 0 0 #FBA433; color: #FFFFFF; font-size: 20px; height: 35px; margin-top: 10px; padding-top: 12px; width: 100%;">
                Here are the order details
            </div>
            <div style="color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom: 10px; text-align:justify;">
                    Name: <span style="text-transform:capitalize;"><%= "#{@order.ship_address.try(:firstname)} #{@order.ship_address.try(:lastname)}" %> </span><br/>
                    Order Number: <%= @order.number%><br/>
                    <%="Date: #{@order.completed_at.strftime('%d %B %Y')} at #{@order.completed_at.strftime('%I:%M %P')}" if @order.completed_at.present?%>
                </div>
                <div style="float:none; margin-bottom: 10px; text-align:right;">
                    Pick-Up Date: <%= "#{@order.completed_at.strftime('%d').to_i.ordinalize} #{@order.completed_at.strftime('%b')} to #{(@order.completed_at + 6.days).strftime('%d').to_i.ordinalize} #{(@order.completed_at + 6.days).strftime('%b')}"%>
                </div>
            </div>
            <table cellspacing="0" style="border-bottom:1px solid #156CA2; border-top:1px solid #156CA2; color: #808080; font-size:13px; width:100%;">                
                <thead>
                    <tr>
                        <th style="border-bottom:1px solid #156CA2;">SKU</th>
                        <th style="border-bottom:1px solid #156CA2;">Product</th>
                        <th style="border-bottom:1px solid #156CA2;">Price</th>
                        <th style="border-bottom:1px solid #156CA2;">Quantity</th>
                        <th style="border-bottom:1px solid #156CA2;">Total</th>
                    </tr>   
                </thead>
                <tfoot>
                    <tr>
                        <td colspan = "4" style ="border-top:1px solid #156CA2;text-align:right;">Order Total</td>
                        <td style="border-top:1px solid #156CA2;text-align:center;">&nbsp;&nbsp;<%= number_to_currency @line_items.sum(&:rcp)%></td>
                    </tr>
                </tfoot> 
                <tbody>
                    <%@line_items.each do | item |%>
                        <tr>
                            <td style="text-align:left; vertical-align:top;"><%= item.variant.try(:sku)%></td>
                            <td style="text-align:left;padding-left: 10px"><%= item.variant.try(:name)%></td>
                            <td style="text-align:center;"><%= number_to_currency item.rcp %></td>
                            <td style="text-align:center;"><%= item.quantity %></td>
                            <td style="text-align:center;"><%= number_to_currency(item.rcp.to_f * item.quantity) %></td>
                        </tr>
                    <%end%>
                </tbody>  
            </table>    
            <div style="color: #808080; font-size: 13px; margin-top: 20px; text-align:center;">
                Need some more info ?<br/>
                Call us at 9488-7440 or email to help@ship.li
            </div>
            <div style="color: #1ABC9C; font-size: 18px; margin-top:10px; text-align:center;">
                <b>
                    To change the status of this order either login to <a href="http://business.ship.li"><%= @seller.name%> on Ship.li admin</a> or digitizer bussiness application
                </b>
            </div>
            <div style="float: right; font-style: italic; font-weight: bold; margin-top: 10px;">
                Thank you<br/>
                - team ship.li
            </div>
            <div class="clearboth " style="height: 15px;"></div>
            <div style="color: #777; font-style: italic; margin-top: 15px; float:left;">
                We heart our retailers, please send us feedback on anything we can improve.
            </div>
        </div>
    </body>
</html>