<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @holiday_list.name %>
</p>

<p>
  <b>Description:</b>
  <%= @holiday_list.description %>
</p>

<p>
  <b>On date:</b>
  <%= @holiday_list.on_date %>
</p>

<p>
  <b>Active:</b>
  <%= @holiday_list.active %>
</p>


<%= link_to 'Edit',  edit_admin_holiday_list_path(@holiday_list) %> |
<%= link_to 'Back', admin_holiday_lists_path %>
