<fieldset data-hook="" id="shipping_method">
  <legend align="center">Items for Pick up at store</legend>
    <div id="methods">
      <div class="order_picking">
        <div><span id="pickup-time" class="pickup-time">Pick-up your order any time during store hours within next 7 days</span></div>
        <br />
        <table data-hook="stock-contents" class="stock-contents">
          <colgroup>
            <col style="width: 77px;" />
              <col style="width: 342px;" />
              <col style="width: 136px;" />
              <col style="width: 76px" />
              <col style="width: 136px;" />
          </colgroup>
          <thead>
            <tr><th></th>
              <th style="text-align: left;">Item</th>
              <th>price</th>
              <th>quantity</th>
              <th>total</th>
            </tr>
          </thead>
          <tbody>             
            <%= form.fields_for :line_items do |item| %>
              <%next unless item.object.is_pick_at_store%>
              <tr class="stock-item">
                <td class="item-image"><%= (mini_image(item.object.variant) rescue "") %></td>
                <td class="item-name"><%= item.object.variant.product.name %></td>
                <td class="item-price"><%= number_to_currency item.object.price %></td>
                <td class="item-qty"><%= item.object.quantity %></td>
                <td class="item-price"><%= item.object.display_amount.to_html unless item.object.quantity.nil? %></td>
                <%#= item.hidden_field :item_pickup_at, :class => "item_pickup_at_#{id} item_pickup_at" %>
              </tr>              
              <tr>
                <td colspan="5" data-hook="pick_store_address">
                     <div id="pick_store_address">
                        <div>Pick up store:</div>
                        <div><%= raw item.object.stock_location.try(:address_pickup) %></div>



                    </div>
                    </td>                                    
                 <%end%>
              </tr>  
          </tbody>
        </table>       
      </div>
    </div>
</fieldset>