<a href="javascript:void(0);" onclick="closePopup('generate_api_key_popup');" class="close-link red">x</a>
<div data-hook="admin_inside_taxonomy_form" class="field align-center">
    <label for="market_place"><h6>Generate API Secret Key</h6></label>
</div>

<div data-hook="admin_inside_seller_market_places" class="field align-center">
	<fieldset >
	  <legend align='center'>Generate Secret Key</legend>
	  <%= form_tag (generate_api_secret_key_admin_seller_market_places_path) %>
	      <%= hidden_field :secret_key, :id, :value=> @seller_market_place.id %>
	      <div class="four columns">
	        <%= field_container :secret_key, :api_key do %>
	          <%= label :secret_key, :api_key, Spree.t(:api_key) %> <span class="required">*</span><br />
	          <%= text_field :secret_key, :api_key, :class => 'fullwidth', :required => true, :readonly=>"readonly", :value=>@seller_market_place.api_key %>
	          <%= error_message_on :secret_key, :api_key %>
	        <% end %>
	      </div>
	      <div class="clear"></div>
	      <% if @seller_market_place.market_place.code != "lazada" && @seller_market_place.market_place.code != "zalora" %>
		      <div class="four columns">
		        <%= field_container :secret_key, :user_id do %>
		          <%= label :secret_key, :user_id, Spree.t(:user_id) %> <span class="required">*</span><br />
		          <%= text_field :secret_key, :user_id, :class => 'fullwidth', :required => true %>
		          <%= error_message_on :secret_key, :user_id %>
		        <% end %>
		      </div>
		      <div class="four columns">
		        <%= field_container :secret_key, :password do %>
		          <%= label :secret_key, :password, Spree.t(:password) %> <span class="required">*</span><br />
		          <%= text_field :secret_key, :password, :class => 'fullwidth', :required => true %>
		          <%= error_message_on :secret_key, :password %>
		        <% end %>
		      </div>
		  <% end %>
		  <div class="clear"></div>
		  <div align="left"><%= submit_tag "Generate", :class => "button", :icon=>'icon-plus', :onclick=>"return checkApiKey('#{@seller_market_place.api_key}')" %></div>
	</fieldset>
</div>

<style type="text/css">
fieldset {
padding: 5px !important;
margin: 10px !important;
border: 1px solid #1bc0d8;
}

#mapped_new_category{
  display: none;
  border: 1px solid #1bc0d8 !important;
}
</style>
