
<% @products.in_groups_of(5, false).each do |product_row| %>
    <li class="product-row">
      <ul>
        <% product_row.each do |product| %>
          <% current_var = get_product(product, params[:sort]) %>
          <li id="product_<%= product.id %>" class="columns homethree alpha" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
            <%if current_var.special_price.present? && product.is_new_arrival == true %>
              <% if current_var.warehouse_discount > 0 %>
                <a href="<%= product_path(product)%>">
                  <div class="<%= product.is_warehouse ? 'warehouse_sale' : 'discounted_sale'%>">                         
                    <div>
                      <%= current_var.warehouse_discount%>% OFF
                    </div>
                  </div>
                </a>  
              <% end %>
            <% elsif current_var.special_price.present? %>
              <% if current_var.warehouse_discount > 0 %>
                <a href="<%= product_path(product)%>">
                  <div class="<%= product.is_warehouse ? 'warehouse_sale' : 'discounted_sale'%>">
                    <div>
                      <%= current_var.warehouse_discount%>% OFF
                    </div>
                  </div>
                </a>    
              <% end %>
            <% elsif product.is_new_arrival == true %>
              <a href="<%= product_path(product)%>">
                <div class="new_arrival_activated"></div>
              </a>  
            <%end%>
            <div class="product-image">
              <%= link_to small_image(product, :itemprop => "image"),product_path(product) , :temprop => 'url' %>
            </div>
            <%= link_to truncate(product.name, :length => 40), product_path(product), :class => 'info', :itemprop => "name", :title => product.name %>
            <div class="clearboth"></div>
            <span class="retailer-name" itemprop="seller">
              <%= product.seller.try(:name)%>
            </span>
            <div class="clearboth"></div>
            <%if current_var.special_price%>
              <span class="price discounted" itemprop="price">
                <%= number_to_currency(current_var.special_price) %>
              </span>
              <span class="price selling avail-discount" itemprop="price">
                <%= current_var.price_in(current_currency).display_price %>
              </span>
            <% else %>
              <span class="price selling only-selling" itemprop="price">
                <%= current_var.price_in(current_currency).display_price %>
              </span>
            <%end%>
            <div class="clearboth"></div>
            <% unless product.in_stock?%>
              <span class="shipping-method-info" itemprop="shipping-method-info">
                Out of stock
              </span>
            <% else%>
              <span class="shipping-method-info" itemprop="shipping-method-info <% if product.shipping_category.present? && product.shipping_category.is_same_day_shipping? || product.shipping_category.present? && product.shipping_category.is_99minute? %>message-red<%end%>"><%= product.delivery_time%>
              </span>
            <%end%>
            <div class="clearboth"></div>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <div id="load_products_<%= @page + 1%>"></div>

<style type="text/css">
@media only screen and (min-width: 958px) {
    #content{
      width: 800px !important;
    /*margin-left: 164px;*/
    }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $(function(){
      $("img").lazyload();
    });
  });
</script>