<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @kit } %>

<%= form_for [:admin, @kit], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_kit">
  <legend align="center">Kit :: New Kit</legend>

  <%= render :partial => "form", :locals => {:f => f} %>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'icon-ok' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), admin_kits_path, :class => 'button' %>
  </div>
  </fieldset>
<% end %>
