<a href="javascript:void(0);" onclick="closePopup('add_products_to_order');" class="close-link red">x</a>
<br />
<fieldset style="max-height:180px;">
<legend align="center"><%= "Update Product Qty To Order" %></legend>
 <div class="omega six columns">
     <input type="hidden" name="order_id" id="order_id" value="<%= @order.id %>" />
     <label for="product">SKU : </label>
     <input type="text" name="product_sku" id="product_sku" value="<%= @line_item.variant.sku %>" class="alpha six columns" disabled="disabled" />
     <br />
     <label for="quantity">Qty :</label>
     <input type="number" min="1" name="quantity" id="qty_id" value="<%= @line_item.quantity %>" class="alpha six columns" />
     <div class="alpha eight columns" style="margin-top:50px">
         <%= button_link_to Spree.t(:update), "javascript:void(0)", :disable_with => "Updating...", :icon => 'icon-ok', :onClick=>"updateProducts('#{@order.id}', '#{@line_item.id}');" %>
         <span class="or"><%= Spree.t(:or) %></span>
         <%= button_link_to Spree.t(:cancel), "javascript:void(0)", :icon => 'icon-remove', :onClick=>"closePopup('add_products_to_order');" %>
     </div>
 </div>
</fieldset>
