<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('stock_transfers') %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t('new_stock_transfer'), new_admin_stock_transfer_path, { :icon => 'icon-forward' } %>
  </li>
<% end %>

<div data-hook="admin_orders_index_search">
  <fieldset>
    <legend align="center"><%= Spree.t('search') %></legend>
    <%= search_form_for @q, :url => admin_stock_transfers_path do |s| %>

      <div class="date-range-filter field align-center">
        <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
        <%= s.text_field :created_at_gt, :readonly => true,:class => 'datepicker datepicker-from' %>
        <span class="range-divider">
          <i class="icon-arrow-right"></i>
        </span>        
        <input type="hidden" value='' name="export_type" id="export_type" />
        <%= s.text_field :created_at_lt,:readonly => true, :class => 'datepicker datepicker-to' %>
        <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
      </div>
      <div class="clearfix"></div>
        <div class="actions filter-actions">
          <%= button Spree.t(:search), 'icon-search'  %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= button Spree.t(:export_to_excel), 'icon-excel'%>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    <% end %>
  </fieldset>
</div>

<% if !@stock_transfers.empty? %>
<div class = "custom_responsive" >
  <table>
  
    <thead>
      <tr data-hook='stock_transfers_header'>
        <th>#</th>
        <th>Product Name</th>
        <th>Quantity Received</th>
        <th>Damaged Count</th>
        <th>Usable Quantity</th>
        <th>Received Date</th>
        <th>Received By</th>
        <th><%= Spree.t('source') %></th>
        <th><%= Spree.t('destination') %></th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% @stock_transfers.each_with_index do |stock_transfer,index| %>

        <tr>
          <td><%= index+1 %></td>
          <td><%= stock_transfer.destination_movements.collect{|m| "#{m.stock_item.variant.product.name} (#{m.stock_item.variant.sku}) by #{m.stock_item.variant.product.company.blank? ? m.stock_item.variant.product.seller.name : m.stock_item.variant.product.company}" }.join(", ")%></td>
          <td><%= stock_transfer.destination_movements.collect{|m| m.quantity}.join(", ") %></td>
          <td><%= stock_transfer.damaged_quantity %></td>
          <td><%= stock_transfer.destination_movements.collect{|m| m.quantity}.join(", ").to_i - stock_transfer.damaged_quantity.to_i %></td>
          <td><%= stock_transfer.received_date %></td>
          <td><%= stock_transfer.received_by %></td>
          <td><%= stock_transfer.source_location.try(:name) %></td>
          <td><%= stock_transfer.destination_location.try(:name) %></td>
          <td class='actions'>
            <%= link_to '', admin_stock_transfer_path(stock_transfer),
            title: 'view', class: 'view icon_link with-tip icon-eye-open no-text',
            data: {action: 'view'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t('empty') %>
  </div>
<% end %>

<%= paginate @stock_transfers %>

<script type="text/javascript">
    $(document).ready(function(){       

        $(".seller-tab").parent().removeClass("selected")
        $('#format').val('');
        $(".datepicker").datepicker('option', 'maxDate',new Date());
        
        $("#q_created_at_gt").val('<%= params[:q][:created_at_gt].to_date.strftime("%Y-%m-%d")%>'); 
        $("#q_created_at_lt").val('<%= params[:q][:created_at_lt].nil? ? Time.zone.now.end_of_day.strftime("%Y-%m-%d") : params[:q][:created_at_lt].to_date.strftime("%Y-%m-%d")%>'); 
        
        $(".icon-excel").click(function(){
            $('#export_type').val('xls');
        });
    });
</script>

<style type="text/css">
    tr .align-center{
        text-align: left; 
    }

    table.dataTable tr.odd{
        background-color: #FFFFFF !important;
    }
    table.dataTable tr.even{
    background-color: #D4E1E4 !important;
    }

    .datatable{
        text-align: left;
    }
    #table-filter{
        display: block !important;
    }
</style>