<div data-hook="admin_product_form_fields">
  <div class="alpha four columns omega">
    <% if spree_current_user.has_spree_role? 'admin'%>
      <%= f.field_container :seller_id do %>
	  <%= f.label :seller_id, "Seller" %><span class="required">*</span><br />
	  <%= f.collection_select(:seller_id, Spree::Seller.is_active, :id, :name, { :class => 'select2' }) %>
	  <%= f.error_message_on :seller_id %>
      <% end %>
    <%else%>
      <%= f.hidden_field :seller_id, :value => spree_current_user.try(:seller).try(:id) %>
    <%end%>
  </div>
</div>

<%= f.hidden_field :created_by, :value => spree_current_user.id%>
<%= f.hidden_field :updated_by, :value => spree_current_user.id%>