<fieldset>
	<legend align="center"><%= Spree.t(:stock_items)%></legend>
	<% if stock_items.present? %>
		<table>
			<thead>
	        <tr data-hook="product_properties_header">
	          <th><%= Spree.t(:variant) %></th>
	          <th><%= Spree.t(:stock_location) %></th>
	          <th><%= Spree.t(:count_on_hand) %></th>
	        </tr>
	      </thead>
			<tbody>
				<% stock_items.each do |stock_item| %>
					<tr class="product_property fields">				  
					  <td class='property_name'>
					    <%= stock_item.variant.sku%>
					  </td>
					  <td class='property_name'>
					  	<%= stock_item.stock_location.name%>
					  </td>
					  <td class='value'>
					    <%= stock_item.count_on_hand%>
					  </td>				  
					</tr>
				<%end%>
			</tbody>
		</table>
	<% else	%>
		<div class="alpha sixteen columns no-objects-found">
			No Location Added Yet
		</div>
	<% end %>	
</fieldset>
