<fieldset>
  <legend>Products under pickup st store</legend>
  <div class="columns omega four">
    <div><span id="pickup-time" class="pickup-time">Pick-up your order any time during store hours within next 7 days</span></div>
  </div>
  <table id='line-items' class="index columns alpha omega sixteen" data-hook="order_details">
    <col width="15%" valign="middle" halign="center">
    <col width="70%" valign="middle">
    <col width="5%" valign="middle" halign="center">
    <col width="5%" valign="middle" halign="center">
    <col width="5%" valign="middle" halign="center">

    <thead data-hook>
      <tr data-hook="order_details_line_items_headers">
        <th colspan="1"><%= Spree.t(:item) %></th>
        <th class="inline-alignment"></th> 
        <th class="price"><%= Spree.t(:price) %></th>
        <th class="qty"><%= Spree.t(:qty) %></th>
        <th class="total" align="right"><span><%= Spree.t(:total) %></span></th>
      </tr>
    </thead>

    <tbody data-hook>
      <% line_items.each do |item| %>
        <tr data-hook="order_details_line_item_row">
          <td data-hook="order_item_image">
            <% if item.variant.images.length == 0 %>
              <%= link_to small_image(item.variant.product), product_path(item.variant.product) %>
            <% else %>
              <%= link_to image_tag(item.variant.images.first.attachment.url(:small)),  product_path(item.variant.product) %>
            <% end %>
          </td>
          <td data-hook="order_item_description">
            <h4><%= item.variant.product.name %></h4>
            by <%= item.try(:product).try(:seller).try(:name)%>            
            <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
          </td>
          <td data-hook="order_item_price" class="price"><span><%= item.single_money.to_html %></span></td>
          <td data-hook="order_item_qty"><%= item.quantity %></td>
          <td data-hook="order_item_total" class="total"><span><%= item.display_amount.to_html %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
<hr />