<% 
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => (params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
  <ul id="products" class="inline product-listing" data-hook>
    <% products.in_groups_of(6, false).each_with_index do |product_row, index| %>        
      <li class="product-row">
        <ul>
          <% product_row.each do |product| %>
            <% 
            current_var = product.variants_and_option_values(current_currency).any? ? product.variants.first : product
            %>                
            <li id="product_<%= product.id %>" class="columns homethree alpha" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">              
              <%if current_var.special_price.present? && product.is_new_arrival == true %>
                <% if current_var.warehouse_discount > 0 %>
                  <a href="<%= product_path(product)%>">
                    <div class="<%= product.is_warehouse ? 'warehouse_sale' : 'discounted_sale'%>">
                      <div><%= current_var.warehouse_discount%>% OFF</div>
                    </div>
                  </a>  
                <% end %>
              <% elsif current_var.special_price.present? %>
                <% if current_var.warehouse_discount > 0 %>
                  <a href="<%= product_path(product)%>">
                    <div class="<%= product.is_warehouse ? 'warehouse_sale' : 'discounted_sale'%>">
                      <div><%= current_var.warehouse_discount%>% OFF</div>
                    </div>
                  </a>  
                <% end %>
              <% elsif product.is_new_arrival == true %>
                <a href="<%= product_path(product)%>">
                  <div class="new_arrival_activated"></div>
                </a>  
              <%end%>
              <div class="product-image">
                <%= link_to small_image(product, :itemprop => "image"),product_path(product) , :temprop => 'url' %>
              </div>
              <%= link_to truncate(product.name, :length => 40), product_path(product), :class => 'info', :itemprop => "name", :title => product.name %>
              <div class="clearboth"></div>
              <span class="retailer-name" itemprop="seller"><%= product.seller.try(:name)%></span>
              <div class="clearboth"></div>                  
              <%if current_var.special_price%>
                <span class="price discounted" itemprop="price"><%= number_to_currency(current_var.special_price) %></span>
                <span class="price selling avail-discount" itemprop="price"><%= current_var.price_in(current_currency).display_price %></span>
              <% else %>
                <span class="price selling only-selling" itemprop="price">
                  <%= current_var.price_in(current_currency).display_price %>
                </span>
              <%end%>
              <div class="clearboth"></div>
              <% unless product.in_stock?%>
                <span class="shipping-method-info" itemprop="shipping-method-info">Out of stock</span>
              <% else%>
                <span class="shipping-method-info <% if product.shipping_category.present? && product.shipping_category.is_same_day_shipping? || product.shipping_category.present? && product.shipping_category.is_99minute? %>message-red<%end%>" itemprop="shipping-method-info">
                  <%= product.delivery_time%>
                </span>
              <%end%>
              <div class="clearboth"></div>
            </li>
          <% end %>
        </ul>
      </li>      
    <% end %>    
    <div class="loading">
      <%=image_tag "/assets/fancybox_loading@2x.gif"%>
    </div>          
    <% reset_cycle("classes") %>
  </ul>  
<%end%>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>

<script type="text/javascript">  
  $(document).ready(function(){
    $(".pagination span a").click(function(){
      var url = $(this).attr("href");
      $(".loading").addClass("show_loading");
      $.ajax({
        url: url,
        success: function(resp){
          $(".loading").removeClass("show_loading");         
        }
      });
      return false;
    });
  });
</script>

<style type="text/css">
/*  @media only screen and (min-width: 768px) and (max-width: 959px){
    #content{
      width: 600px;   
    }
    ul#products li.product-row ul li{
      margin-left: 68px !important;
      margin-right: 0px !important;
    }
    ul#products li{
      display: inline;
    }    
  }

  @media only screen and (min-width: 480px) and (max-width: 767px){
    ul#products li{
      display: inline;
    }
    ul#products li.product-row ul li{
      margin-left: 47px !important;
    }
  }

  @media only screen and (min-width: 958px) {
    #content{
      width: 940px;   
    }
  } */

  #content{
    width: 784px;  
  }
  aside#sidebar{
    width: 124px;
  }

</style>

<script type="text/javascript">
  $(document).ready(function(){
    $(function(){    
      $("img.lazy").lazyload({
        event: "scrollstop"
      });
    });
  });  
</script>