<%= f.field_container :name do %>
            <%= f.label :name , Spree.t(:name) %><span class="required">*</span><br />
            <%= f.text_field :name, :class => 'fullwidth title', :required => true %>
            <%= f.error_message_on :name %>
<% end %>
<%= f.field_container :code do %>
            <%= f.label :code, Spree.t(:code) %><span class="required">*</span><br />
            <%= f.text_field :code, :class => 'fullwidth title', :required => true %>
            <%= f.error_message_on :code %>
<% end %>
<%= f.field_container :domain_url do %>
    <%= f.label :domain_url, Spree.t(:domain_url) %><span class="required">*</span><br />
    <%= f.text_field :domain_url, :class => 'fullwidth title', :required => true %>
    <%= f.error_message_on :domain_url %>
<% end %>