<% if seller.stock_locations.present? %>
    <div>
        <table>
            <colgroup>
               <col style="width: 13%;">
               <col style="width: 10%;">
               <col style="width: 10%;">
               <col style="width: 12%;">
               <col style="width: 12%;">
               <col style="width: 10%;">
               <col style="width: 2%;">
            </colgroup>
            <thead>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Operating Hours</th>
                <th>Pickup</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% seller.stock_locations.each_with_index do |store, index| %>
                    <tr>
                        <td align="center"><%= link_to store.name, edit_admin_stock_location_path(store) %></td>
                        <td align="center"><%= raw store.address %></td>
                        <td align="center"><%= mail_to store.email%></td>
                        <td align="center"><%= store.phone%></td>
                        <td align="center"><%= store.operating_hours%></td>
                        <td align="center"><%= check(store.pickup_at, "Pickup Point") %></td>
                        <td align="center"><%= link_to '', edit_admin_stock_location_path(store, :seller_id => seller.id, :return => admin_seller_path(seller.id)), :no_text => true, :class => 'edit icon_link with-tip icon-edit no-text'%>
                            &nbsp;
                            <%= link_to '', admin_stock_location_path(store), :no_text => true, :method => :delete, :class => 'delete-resource icon_link with-tip icon-trash no-text', :confirm => 'Are you sure, you want to delete this Store?'%></td>
                    </tr>
                <% end%>
            </tbody>
        </table>
    </div>
<%else%>
    <div class="error-message" style="text-align: center;">
        <h2>No Stores are added yet, You can add new Store</h2>
    </div>
<%end%>
